<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Forgot Password Token, <%= @user.name %></h1>
    <p>
      your username is: <%= @user.name %>.<br>
    </p>
    <p>
      your token is: <%= @user.reset_password_token %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>