<h1 style="font-size: 24px; margin-bottom: 20px;">User Name: <%= @user.name %></h1>
 
<p style="font-weight: bold;">Email: <%= @user.email %></p>
<p style="font-weight: bold;">Type: <%= @user.type %></p>
<br/>