<section class="vh-100" style="background-color: #563d7c;">
  <%= form_with model: @job_application do |job_application| %>
      <!-- Hidden field for job_id -->
      <%= job_application.hidden_field :job_id, value: @job.id %>
      
      <!-- Hidden field for status -->
      <%= job_application.hidden_field :status, value: "applied" %>
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
          <h1 class="text-white mb-4">Apply for a job</h1>
          <div class="card" style="border-radius: 40px;">
            <div class="card-body">
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-4">
                  <h6 class="mb-0">Job Title</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <h5 class="mb-0"><%= @job.job_title %></h6>
                </div>
              </div>
              <hr class="mx-n3">
              <div class="row align-items-center py-6">
                <div class="col-md-3 ps-4">
                  <h6 class="mb-0">Upload CV</h6>
                </div>
                <div class="col-md-9 pe-9">
                  <input class="form-control form-control-lg" id="formFileLg" type="file" />
                </div>
              </div>
              <hr class="mx-n3">
              <div class="px-1 py-4">
                <button type="submit" class="btn btn-primary btn-lg">Send application</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>