<h1 style="font-size: 24px; margin-bottom: 20px;">Add Your Skills</h1>

<%= form_with model: @skill, url: add_skill_skills_path , method: :get do |skill| %>
  <div class="field">
    <%= skill.label :skills, style: 'font-weight: bold;' %><br>
    <%= skill.select :skills, options_for_select(Skill.pluck(:skill_name)), { multiple: true, size: 10 } %>
  </div>

  <div class="field" style="margin-top: 20px;">
    <%= skill.submit "Create", class: 'skill-button' %>
  </div>
<% end %>