<nav class="navbar navbar-expand-sm " style="background-color: lightgrey">
  <a class="navbar-brand" href="">Home</a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
     Menu
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% if current_user.type == "JobRecruiter" %>
        <li><a class="dropdown-item" href="skills/new">Create Skill</a></li>
        <% if current_user.company.blank? %>
          <li><a class="dropdown-item" href="companies/new">Create New Company</a></li>
        <% end %>
      <% else current_user.type == "JobSeeker" %>
        <li><a class="dropdown-item" href="skills/add_skill">Add Skill</a></li>
        <% if current_user.job_applications.applied.present? %>
          <li><a class="dropdown-item" href="job_applications/applied_jobs">Applied Applications</a></li>
        <% end  %>
          <li><a class="dropdown-item" href="skills/user_skills">Your Skills</a></li>
          <li><a class="dropdown-item" href="jobs/suggested_jobs">Jobs For You</a></li>
      <% end %>
    </ul>
  </div>
</nav>
<h1 style="font-size: 24px; margin-bottom: 20px;">Company</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <% unless current_user.type == "JobRecruiter" && current_user.company.blank? %>
        <% @companies.each do |company| %>
          <%= link_to company.company_name, company, style: 'text-decoration: none; color: #007BFF;' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
