<nav class="navbar fixed-bottom navbar-light" style="background-color: lightblue">
     <ul class="nav">
      <% if current_user.type == "JobRecruiter" %>
        <li class="nav-item"><a class="nav-link active" href="skills/new">Create Skill</a></li>
        <% if current_user.company.blank? %>
          <li class="nav-item"><a class="nav-link active" href="companies/new">Create New Company</a></li>
        <% end %>
      <% else current_user.type == "JobSeeker" %>
        <li class="nav-item"><a class="nav-link active" href="skills/add_skill">Add Skill</a></li>
        <% if current_user.job_applications.applied.present? %>
          <li class="nav-item"><a class="nav-link active" href="job_applications/applied_jobs">Applied Applications</a></li>
        <% end  %>
          <li class="nav-item"><a class="nav-link active" href="skills/user_skills">Your Skills</a></li>
          <li class="nav-item"><a class="nav-link active" href="jobs/suggested_jobs">Jobs For You</a></li>
      <% end %>
    </ul>
</nav>
<h1 style="font-size: 24px; margin-bottom: 20px;">Company</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <% unless current_user.type == "JobRecruiter" && current_user.company.blank? %>
        <% @companies.each do |company| %>
          <%= link_to company.company_name, company, style: 'text-decoration: none; color: #007BFF;' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>